<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>For Jenkins</title>
    <!--   <link rel="stylesheet" type="text/css" href="../"/>
  !--  <link href="../static/css/main.css" type="text/css" rel="stylesheet">
             <link rel="stylesheet" href="<spring:theme code='styleSheet'/>" type="text/css"/>
     -->
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css"/>
</head>
<body>
<h2 class="header-hello">
        <p th:text="'Hello, ' + ${name} + '!'" />
</h2>
</body>
</html>